body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 72px;
}

.square {
    display: flex;
    gap: 0;
    margin: 0;
    padding: 0;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 45px;
    align-items: center;
    justify-content: center;
}

.grid {
    display: flex;
    height: 720px;
    width: 720px;
    flex-wrap: wrap;
    border: 1px solid blue;
    flex-shrink: 0;
}

.hover {
    background-color: black;
}

.buttons {
    height: 50px;
}

.blackMode {
    background-color: black;
}

