body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Lucida Console", monospace;
    background-color: rgb(220, 241, 179);
    color:rgb(0, 0, 0);
    font-weight: 900;
    text-shadow: 5px 5px 11px rgb(80, 82, 70);
}

.square {
    display: flex;
    gap: 0;
    margin: 0;
    padding: 0;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 45px;
    align-items: center;
    justify-content: center;
}

.grid {
    display: flex;
    height: 720px;
    width: 720px;
    flex-wrap: wrap;
    border: 2px solid rgb(0, 0, 0);
    flex-shrink: 0;
}

.hover {
    background-color: black;
}

button {
    font-family: "Lucida Console", monospace;
    background-color: rgb(40, 58, 58);
    color:bisque;
    width: 190px;
    height: 40px;
    border-radius: 7px;
}

button:hover {
    background-color: rgb(71, 78, 78);;
}

.buttons {
    height: 50px;
    display: flex;
    align-items:center;
    justify-content: space-between;
    gap:50px;
    margin-bottom: 30px;
}

.blackMode {
    background-color: black;
}

